<app-auth-layout>
  <div class="auth__header">
    <h1 class="auth__title">
      Porra Mundial 2026
      <div class="auth__title--ball">⚽</div>
    </h1>
    <p class="auth__p">Recupera tu contraseña</p>
  </div>

  @if (successMsg) {
  <div class="success__box">
    <p>📧 {{ successMsg }}</p>
    <small>Revisa también la carpeta de spam</small>
  </div>
  } @else {
  <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <div class="form__input-group">
      <input
        type="email"
        placeholder="Correo electrónico"
        formControlName="email"
      />
      @if (form.get('email')?.touched && form.get('email')?.invalid) {
      <small class="error">Debes poner un email válido</small>
      }
    </div>

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Enviando...' : 'Enviar enlace' }}
    </button>

    @if (errorMsg) {
    <small class="error__message">{{ errorMsg }}</small>
    }
  </form>
  }

  <div class="form__auth-footer">
    <p>¿Recuerdas tu contraseña? <a href="/login">Inicia sesión</a></p>
  </div>
</app-auth-layout>
