<app-auth-layout>
  <div class="auth__header">
    <h1 class="auth__title">
      Porra Mundial 2026
      <div class="auth__title--ball">⚽</div>
    </h1>
    <p class="auth__p">Demuestra que sabes de fútbol</p>
  </div>
  <form class="form">
    <div class="form__input-group">
      <input type="text" placeholder="Nombre de usuario" />
    </div>

    <div class="form__input-group">
      <input type="email" placeholder="Correo electrónico" />
    </div>

    <div class="form__input-group">
      <input type="password" placeholder="Contraseña" />
    </div>

    <button type="submit">Entrar</button>
  </form>

  <div class="form__auth-footer">
    <p>¿Tienes cuenta? <a href="/login">Inicia Sesión</a></p>
  </div>
</app-auth-layout>
