.auth {
  &__container {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    background:
      radial-gradient(circle at top left, #1e3a2f 0%, transparent 40%),
      radial-gradient(circle at bottom right, #0f172a 0%, transparent 40%),
      linear-gradient(135deg, #0b3d2e, #111827);
  }
  &__card {
    position: relative;
    overflow: hidden;
    width: 27em;
    padding: 3em;
    border-radius: 1em;
    background: var(--c-fourth);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
}
@media (max-width: 700px) {
  .auth {
    &__card {
      width: 21em;
    }
  }
}
