<div class="container">
  <section class="container__header">
    <article class="container__header--logo">
      <a href="/">
        <img
          src="icono.png"
          alt="Icono porra mundial"
          alt="Icono"
          class="container__header--logo-image"
        />
      </a>
      <h1>MUNDIAL 2026</h1>
    </article>
    <article class="container__header--buttons">
      <img
        class="container__header--buttons-icon"
        src="/icons/user-icon.svg"
        alt="Icono usuario"
        title="Usuario"
      />
      <img
        class="container__header--buttons-icon"
        src="/icons/trophy-icon.svg"
        alt="Icono ligas"
        title="Ligas"
      />
      <img
        class="container__header--buttons-icon"
        src="/icons/field-icon.svg"
        alt="Icono partidos"
        title="Partidos"
      />
    </article>
  </section>
  <router-outlet></router-outlet>
</div>
