.container {
  min-height: 100dvh;

  &__header {
    position: sticky;
    height: 15dvh;
    background-color: var(--c-primary);
    display: flex;
    width: 100%;
    &--logo {
      display: flex;
      align-items: center;
      padding: 1em;
      width: 70%;
      gap: 1em;
      &-title {
        color: var(--c-black);
        font-weight: 800;
      }
      &-image {
        width: 3.5em;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
    &--buttons {
      display: flex;
      align-items: center;
      width: 30%;
      height: 100%;
      justify-content: flex-end;
      gap: 2em;
      padding: 1em;
      &-icon {
        width: 2em;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__content {
    min-height: 85dvh;
  }
  &__footer {
    display: none;
  }
}

@media (max-width: 700px) {
  .container {
    &__header {
      height: 10dvh;
      &--logo {
        width: 100%;
        justify-content: center;
        &-image {
          width: 2em;
        }
        &-title {
          font-size: 1.5em;
        }
      }
      &--buttons {
        display: none;
      }
    }
    &__content {
      min-height: 82dvh;
    }
    &__footer {
      display: block;
      height: 8dvh;
      background-color: var(--c-secondary);
      position: fixed;
      width: 100%;
      &--logos {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        &-icon {
          width: 2em;
        }
      }
    }
  }
}
