<div class="container">
  <section class="container__header">
    <article class="container__header--logo">
      <a href="/">
        <img
          src="/icons/mundial-logo.svg"
          alt="Icono porra mundial"
          alt="Icono"
          class="container__header--logo-image"
        />
      </a>
      <h1 class="container__header--logo-title">FIFA World Cup 26™</h1>
    </article>
    <article class="container__header--buttons">
      <img
        class="container__header--buttons-icon"
        src="/icons/user-icon.svg"
        alt="Icono usuario"
        title="Usuario"
      />
      <img
        class="container__header--buttons-icon"
        src="/icons/trophy-icon.svg"
        alt="Icono ligas"
        title="Ligas"
      />
      <img
        class="container__header--buttons-icon"
        src="/icons/field-icon.svg"
        alt="Icono partidos"
        title="Partidos"
      />
    </article>
  </section>
  <section class="container__content">
    <router-outlet></router-outlet>
  </section>
  <section class="container__footer">
    <article class="container__footer--logos">
      <img
        class="container__footer--logos-icon"
        src="/icons/user-icon-white.svg"
        alt="Icono usuario"
        title="Usuario"
      />
      <img
        class="container__footer--logos-icon"
        src="/icons/trophy-icon-white.svg"
        alt="Icono ligas"
        title="Ligas"
      />
      <img
        class="container__footer--logos-icon"
        src="/icons/field-icon-white.svg"
        alt="Icono partidos"
        title="Partidos"
      />
    </article>
  </section>
</div>
