@if(!loading()){

<div class="user">
  <h1 class="user__title">Mi perfil</h1>
  <section class="user__avatar">
    <label for="avatar-upload" class="label">
      <img
        [src]="this.avatarUrl() || 'user_img.png'"
        alt="Foto de perfil"
        title="Avatar del usuario"
        class="user__avatar--img"
      />
    </label>
    <input
      type="file"
      id="avatar-upload"
      class="file"
      accept="image/*"
      style="display: none"
      (change)="changeAvatar($event)"
    />
    <h2 class="user__avatar--name">{{username()}}</h2>
    <h4 class="user__avatar--explain">Toca el avatar para cambiarlo</h4>
  </section>
  <section class="user__username">
    <h2 class="user__username--title">Nombre de usuario</h2>
    <input
      type="text"
      name="name"
      id="name"
      [value]="username()"
      class="user__username--input"
      #input
      (change)="resetErrorMsg()"
      [placeholder]="this.username()"
    />
    @if(this.errorMsg()){
    <small class="error">{{this.errorMsg()}}</small>
    }
    <button
      class="user__username--button"
      (click)="cambiarNombre(input.value)"
      [disabled]="this.disabled()"
    >
      {{this.disabled() ? 'Guardando...' : 'Guardar'}}
    </button>
  </section>
</div>
} @if(loading()) {
<div class="loading-container">
  <img
    src="loading.gif"
    alt="Icono de carga"
    aria-label="Icono de carga"
    class="loading-container__gif"
  />
</div>
}
