<app-auth-layout>
  <div class="auth__header">
    <h1 class="auth__title">
      Porra Mundial 2026
      <div class="auth__title--ball">⚽</div>
    </h1>
    <p class="auth__p">Demuestra que sabes de fútbol</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <div class="form__input-group">
      <input
        type="email"
        placeholder="Correo electrónico"
        formControlName="email"
      />
      @if(this.form.get('email')?.touched && this.form.get('email')?.invalid){
      <small class="error">Debes poner un email válido</small>

      }
    </div>

    <div class="form__input-group">
      <input
        type="password"
        placeholder="Contraseña"
        formControlName="password"
      />
      @if(form.get('password')?.touched){
      @if(form.get('password')?.errors?.['required']){
      <small class="error">Debes poner una contraseña válida</small>

      } @if(form.get('password')?.errors?.['minlength']){
      <small class="error"
        >Debes poner una contraseña con más de 5 caracteres</small
      >
      } }
    </div>

    <button type="submit" [disabled]="loading">
      {{loading ? 'Entrando...' : 'Entrar'}}
    </button>
    @if(this.errorMsg){
    <small class="error__message">{{this.errorMsg}}</small>
    }
  </form>

  <div class="form__auth-footer">
    <p>¿No tienes cuenta? <a href="/register">Regístrate</a></p>
  </div>
</app-auth-layout>
