.auth {
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin: 0.5em 0 0.5em 0;
    font-size: 1.5em;
    &--ball {
      font-size: 1.5em;
    }
  }
  &__p {
    color: #666;
    font-size: 14px;
  }
}

.form {
  &__input-group {
    margin: 20px 0;
  }
  &__auth-footer {
    margin-top: 20px;
    font-size: 13px;
  }
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #2e7d32;
}

button {
  width: 100%;
  padding: 0.75em;
  border: none;
  border-radius: 10px;
  background: #3fb945;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  transition: all 0.4s ease-in-out;
  margin-bottom: 1em;
}

button:hover {
  background: var(--c-primary);
  transform: scale(1.02);
}
a {
  color: var(--c-primary);
}

.error {
  color: red;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  font-size: 0.8em;
  padding: 0.3em;
  &__message {
    color: red;
    font-weight: bold;
    margin-top: 10em;
  }
}
