<app-auth-layout>
  <div class="auth__header">
    <h1 class="auth__title">
      Porra Mundial 2026
      <div class="auth__title--ball">⚽</div>
    </h1>
    <p class="auth__p">Elige tu nueva contraseña</p>
  </div>

  @if (successMsg) {
  <div class="success__box">
    <p>{{ successMsg }}</p>
    <small>Redirigiendo al login...</small>
  </div>
  } @else {
  <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <div class="form__input-group">
      <input
        type="password"
        placeholder="Nueva contraseña"
        formControlName="password"
      />
      @if (form.get('password')?.touched &&
      form.get('password')?.errors?.['required']) {
      <small class="error">La contraseña es obligatoria</small>
      } @if (form.get('password')?.touched &&
      form.get('password')?.errors?.['minlength']) {
      <small class="error">Mínimo 6 caracteres</small>
      }
    </div>

    <div class="form__input-group">
      <input
        type="password"
        placeholder="Repite la contraseña"
        formControlName="confirmPassword"
      />
      @if (form.get('confirmPassword')?.touched && form.errors?.['mismatch']) {
      <small class="error">Las contraseñas no coinciden</small>
      }
    </div>

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Guardando...' : 'Cambiar contraseña' }}
    </button>

    @if (errorMsg) {
    <small class="error__message">{{ errorMsg }}</small>
    }
  </form>
  }
</app-auth-layout>
